a {
  color:white;
}

li.introList {
  text-indent: 0%;
  list-style-type: none;
}

li.primaryExperience {
  list-style-type: none;
}


ul.mainBullet {
  list-style-type: circle;
}

ul.subBullet {
  list-style-type: disc;
}